.eachTopic{
    border: 2px solid rgba(117, 114, 114, 0.171);
    padding: 50px 20px;
    margin-bottom: 60px;
    border-radius: 20px;
}
.readBtn{
    color: #0E79BD;
    outline: none;
    border: none;
    background: none;
    text-align: end;
    margin-right: 59px;
    font-size: 25px;
}
.rightArrw{
    font-size: 25px;
}