.dashboard-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 235px;
    margin-bottom: 285px;

}
.dashboard-box{
    align-items: center;
    width: 100%;

   
}
.dashboard-btn{
    margin-left: 15px;
    width: 200px;
    height: 80px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: rgba(19, 135, 212, 0.616);
}
.dashboard-btn:hover{
    margin-left: 15px;
    width: 200px;
    height: 80px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: rgba(236, 9, 9, 0.616);
}

@media (max-width: 768px){
    .dashboard-container{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .dashboard-box{
        align-items: center;
        width: 100%; 
    }
    .dashboard-btn{
        margin-left:75px ;
        margin-bottom: 25px;
        width: 200px;
        height: 80px;
        font-size: 25px;
        border: none;
        border-radius: 20px;
        background-color: rgba(19, 135, 212, 0.616);
    }
    .dashboard-btn:hover{
        margin-left: 15px;
        width: 200px;
        height: 80px;
        font-size: 25px;
        border: none;
        border-radius: 20px;
        background-color: rgba(236, 9, 9, 0.616);
    }
}